.home__section {
  padding: 3rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.section-content {
  padding: 7rem 7rem 0;
}

.section-title {
  text-align: center;
  position: relative;
}

.second-title {
  font-size: 4rem;
  color: rgba(34, 30, 30, 0.719);
  z-index: 0;
}

.main-title {
  font-size: 3.5rem;
  z-index: 2;
  position: absolute;
  top: 40%;
  right: 24%;
}

.category-img {
  padding: 4rem;
  height: 600px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.category-title {
  font-size: 4rem;
  font-weight: 7000;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  color: whitesmoke;
  text-transform: capitalize;
}

.category-img {
  padding: 4rem;
  height: 600px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.category-img-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  transition: transform 1s ease 0s;
}

.category-img:hover .category-img-inner {
  transform: scale(1.3);
}
